<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<style>
    .wrapper {
  display: inline-flex;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
  align-items: center;
}
        a {
    padding-bottom: 20px;
    color:#adb5bd;
    align-content: center;
    }
    a:hover {
    color : white;
    background-color: #adb5bd;
    border-radius:10px;
    }
</style>
</head>
<body>
<div class="wrapper">
    <a href="">just me</a>
    <a href="">just me</a>
    <a href="">just me</a>
    <a href="">just me</a>
    <a href="">just me</a>
</div>
</body>
</html>